html {
    font-size: 100%;
}

body {
    background-color: rgb(136, 136, 136)
}
h1 {
    background-color:	rgb(168, 168, 168);
  color: #2F2725;
  padding: 5px;
  padding-bottom: 5px;
  padding-top: 50px;
}

h1,h2,h3,h4,h5,h6,h7 {
    font-size: 25px;
}

}
p {
    font-size: 25px;
}

